@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200&family=Roboto:wght@300;400;500;700;900&display=swap');
.App {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    max-width: 500px;
    width: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    min-height: 700px;
}
.AppTitle {
    text-align: center;
    font-size: 40px;
    padding: 20px 0 10px 0;
}
.todo-input {
    width: 90%;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #bfbfbf;
    margin-top: 20px;
}
.todo-input input {
    width: 80%;
    height: 40px;
    font-size: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.todo-input button {
    width: 10%;
    font-size: 30px;
    margin-left: 10px;
}
.todo-list {
    width: 80%;
}
.todo {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    background-color: orange;
    margin: 20px 0;
    width: 100%;
    border-radius: 10px;
}
.todo-left {
    margin-left: 5%;
}
.todo i {
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
}
.done {
    text-decoration: line-through;
}
.todo.finish {
    background-color: rgb(183, 121, 5);
}