* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
  45deg,
  hsl(240deg 100% 20%) 0%,
  hsl(268deg 63% 24%) 4%,
  hsl(290deg 36% 29%) 13%,
  hsl(327deg 24% 37%) 29%,
  hsl(5deg 21% 46%) 52%,
  hsl(28deg 31% 49%) 69%,
  hsl(39deg 44% 52%) 80%,
  hsl(46deg 61% 54%) 89%,
  hsl(51deg 80% 55%) 95%,
  hsl(55deg 100% 50%) 100%
);
}